{% apply inky_to_html|inline_css(source('@styles/emails/foundation/foundation-emails.css')) %}
<container>
	<row>
		<columns>
			<p style="color:#424242; font-weight: bold;">ESTE ES UN MENSAJE AUTOMÁTICO POR FAVOR NO RESPONDER.</p>
			<spacer size="15"></spacer>
			<h3>Hola {{ user.getEmail() }}
				{# DESCOMENTAR AL TENER PERSONA ASOCIADA #}
				{#{% if user.getIdEmpleado() is defined and user.getIdEmpleado() is not null %}
					{{ user.getIdEmpleado().getIdPersona().getNombreCorto() }}
				{% else %}
					{{ user.getEmail() }}
				{% endif %}#}
			</h3>
			<spacer size="15"></spacer>
			<p>Usted recientemente ha solicitado el restablecimiento de la contraseña de su cuenta del SISTEMA. Haga clic en el siguiente botón para restablecerla.</p>
			<spacer size="30"></spacer>
			<button href="{{ frontDomain }}/reset-password?tk={{ token }}" class="radius">Restablecer contraseña</button>
			<spacer size="30"></spacer>
			<p>Si usted no ha solicitado el restablecimiento de la contraseña, por favor ignore este email. El restablecimiento de la contraseña es válido por los siguientes 30 minutos.</p>
			<spacer size="15"></spacer>
			<p>Gracias.</p>
			<p>Equipo de SISTEMA.</p>
		</columns>
	</row>
	<row>
		<columns>
			<div style="color:#E6E6E6;background-color:#424242;padding: 10px 10px 10px 15px;font-weight:bold;font-size:12px;text-align:center;font-family:sans-serif,arial;">
				SISTEMA.
				<spacer size="10"></spacer>
				INSTITUCION
			</div>
		</columns>
	</row>
</container>
{% endapply %}
